body {
    width: 550px;
    height: 550px;
    left: 642px;
    top: 64px;
    margin: 0;
    background: #1c1c1c;    
}
@font-face{
src: url(Karla-Regular.ttf);
font-family: 'Karla-Regular', sans-serif;
font-style: normal;
font-weight: 400,800;
}
@font-face{
src: url(Inter-regular.tff);
font-family: 'Inter-regular', sans-serif;
font-style: normal;
font-weight: 400,800;
}


.heading{
    width: 354px; 
    height: 80px;
    margin: 115px 114px 0 52px;
    color: #ffffff;
    font-family: 'Karla-Regular';
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -0.025em;
}
span{
    color: #10b981;
}
p{
    width: 372px;
    height: 28px;
    color: #d5d4d8;
    font-family: 'Inter-regular';
    font-size: 20px;
    font-weight: 400;
    margin: 10px 126px 5px 52px;
}
button{
    background-color: #10b981;
    color: #ffffff;
    width: 191px;
    height: 42px;
    padding: 9px 17px 9px 15px;
    margin: 51px 0 0 52px;
    font-family: 'Inter-regular';
    font-size: 16px;
    font-style: normal;
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05);
    
}
.underline{
    border-bottom: 1px solid #2f3e53;
    width: 446px;
    height: 0;
    margin: 35px 0 0 52px;
}
.bottom{
    display: flex;
}
#password{
    width: 211px;
    height: 39px;
    margin: 35px 0 0 52px;
    border-radius: 6px;
    background: #273549;
    color: #10b981;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    line-height: 40px;

}
#password1{
    width: 211px;
    height: 39px;
    margin: 35px 0 52px 24px;
    border-radius: 6px;
    background: #273549;
    color: #10b981;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    line-height: 40px;

}